.App {
  text-align: center;
  font-family: Nflx;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.titles {
  @apply text-6xl font-black dark:text-white;
}

@font-face {
  font-family: Nflx;
  src: url("../public/fonts/netflix.ttf");
}

iframe {
  width: 70%;
  margin: 0 auto;
  display: block;
  border: 4px solid black;
  border-radius: 12px;
}

.github-button {
  @apply text-white bg-[#15171a] hover:bg-[#24292F]/90 transition-colors focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 mr-2 mb-2;
}
